<!DOCTYPE html>
<html lang="en">
<%- include ('../head_toes/header') %>
<!-- <link href="/stylesheets" rel="stylesheet" type="text/css" /> -->
<link rel="stylesheet" href="/stylesheets/user-landing.css" />


<body>
  <div class="row">
    <div id="body-col-one" class="col-md-4">
      <h1 id="user-name">Shark <%= user.username %></h1>

      <div class="thumbnail">
        <img id="user-image" src="<%= user.profilePic %>" alt="user profile image" />
        <div class="caption">
          <a href="mailto:<%= user.email %>"><%= user.email %></a>
        </div>
      </div>
    </div>
    <div id="body-col-two" class="col-md-8">
      <h3><%= user.username %>'s posts:</h3>

      <% let count = 0 %>
      <% bizIdeas.forEach((idea)=> { %>
      <% count++ %>
      <% }); %>
      <% if(count != 0){ %>
      <ul class="list-group">

        <% bizIdeas.forEach(function(idea) { %>
        <li class="list-group-item"><%= idea.title %></a></li>
        <% }); %>
      </ul>
      <% } else { %>
      <p>you have not made any post yet.</p>
      <% } %>






    </div>
  </div>
  <div id="footer"><%- include ('../head_toes/footer') %></div>

</body>

</html>